name: Continuous Integration

on:
  push:
    branches: [ master ]
    paths-ignore: ['.github/**']
  pull_request:
    paths-ignore: ['.github/**']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node v20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Run ESlint
        run: yarn lint

      - name: Run Build
        run: yarn build
      
      - name: Run tests
        run: yarn test --coverage
      
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
